.figure.fig-10,
.figure.fig-15 {
    float: left;
    margin: 2px;
}

.figure.fig-10 {
    width: calc(10% - 4px)
}

.figure.fig-15 {
    width: calc(15% - 4px)
}

@media only screen and (max-width:767px) {
    .fig-10 .caption,
    .fig-15 .caption {
        display: none
    }
}

.pullquote.figure.fig-10,
.pullquote.figure.fig-15 {
    width: 45%;
    float: left;
    margin: 1.5em 35px 1.5em 0
}

.btn, .btn--medium, .btn--small {
    padding: 8px 14px !important;
}
